<library path="dsr_rqt_plugin">
  <class name="dsr_rqt_plugin/DSRView" type="dsr_rqt_plugin::DSRView" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to visualize a DSR graph.
    </description>
    <qtgui>
      <group>
        <label>DSR</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to the DSR.</statustip>
      </group>
      <label>DSR View</label>
      <icon type="theme">zen-icon</icon>
      <statustip>A GUI plugin to visualize a DSR graph.</statustip>
    </qtgui>
  </class>
</library>